
.loading-spinner-container {
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.mat-row:nth-child(even){
  background-color: #FFFFFF;
}
      
.mat-row:nth-child(odd){
  background-color: #FAFAFA;
}

.rightAlign {
  text-align: right;
}

.calories-column {
  font-weight: normal;
}

.calories-column.bold {
  font-weight: bold;
}



.noBackground.coloured {
  background-color: #31BF5D;
}